.slsBlog{
    display: grid;
    grid-template-columns: auto 300px;
    gap: 2rem;
    margin-top: 3rem;
}
.slsContent{
    display: block;
}

/* Author BOX */
.author-box{
    display: flex;
    align-items: start;
    gap: 1rem;
    background-color: var(--bg-color);
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 2rem;
}
.author-box img.avatar{
    width: 100px;
    height: 100px;
    object-position: center;
    object-fit: cover;
    border-radius: 50%;
}
.bodyBox .authorName{
    color: #222;
    margin-bottom: 3px;
}
.bodyBox .authorUri{
    text-decoration: none;
    color: var(--header-hover);
    font-size: 13px;
}
.bodyBox .authorDesc{
    font-size: 16px;
    color: var(--post-excerpt);
    line-height: 1.5;
}


/* Content */
.sls-with-thumbnail,
.sls-without-thumbnail{
    margin-bottom: 2.5rem;
}

/* Tanpa thumbnaik */
.sls-without-thumbnail,
.slsContent-body{
    display: block;
}
/* ada thumbnail */
.sls-with-thumbnail{
    display: grid;
    grid-template-columns: 330px auto;
    gap: 1rem;
}
.slsUri-thum .slsThum-img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
    transition: 0.3s ease-in-out;
}
.slsUri-thum:hover .slsThum-img{
    transform: scale(1.02);
}

.slsContent-meta{
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 10px;
    color: var(--post-excerpt);
    flex-wrap: wrap;
}
.slsCatlink{
    color: var(--post-meta);
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: bold;
}
.slsDate{
    font-size: 12px;
    font-weight: bold;
}
.slsContent-heading{
    text-decoration: none;
    display: block;
    color: var(--post-judul);
    transition: 0.3s ease-in-out;
    margin-bottom: 0.7rem;
}
.slsContent-heading:hover{
    color: var(--post-judul-hover);
}
.slsContent-title{
    font-size: 25px;
    line-height: 1.3;
}
.slsexcerpt{
    color: var(--post-excerpt);
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
    line-height: 2;
}
.more-link{
    text-decoration: none;
    background-color: var(--post-judul-hover);
    padding: 5px 10px;
    border-radius: 4px;
    width: max-content;
    line-height: 1.3;
    font-size: 14px;
    color: white;
    transition: 0.3s ease-in-out;
}
.more-link:hover{
    background-color: var(--post-judul);
}


@media(max-width:951px){
    .slsBlog{
        grid-template-columns: auto 250px;
    }
    .sls-with-thumbnail{
        display: block;
    }
    .slsUri-thum .slsThum-img{
        height: 300px;
        margin-bottom: 1rem;
    }
}


@media(max-width:768px){
    .slsBlog{
        display: block;
    }
}


@media(max-width:568px){
    .slsUri-thum .slsThum-img{
        height: 200px;
    }
    .author-box{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .author-box img.avatar{
        width: 80px;
        height: 80px;
    }
}