@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.slsGoogle{
    width: 100%;
    background-color: #fff;
    padding: 2rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    font-family: 'Roboto', sans-serif;
    transition: 0.2s ease-in-out;
}
.slsGoogle.scrolling{
    padding: 1rem 0;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 99;
    left: 0;
}
.slsNavig{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}
.gInner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.gInner_left{
    display: flex;
    align-items: center;
    gap: 3rem;
}
.slsHomes .logoGoogle{
    height: 30px;
    width: auto;
}
.gInner_right .slsPeople{
    width:30px;
    height: 30px;
    object-position: center;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.08);
}
.gInner_left form.google-search-box{
    width: 600px !important;
    max-width: 100%;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 24px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.google-search-box input{
    border: none;
    outline: none;
    padding: 13px 20px;
    border-radius: 24px;
    width: 79%;
    font-size: 16px;
    font-weight: 300;
    color: #666;
}
.google-search-box i.bx-x{
    font-size: 30px;
    border-right: 1px solid rgba(0, 0, 0, 0.08);
    line-height: 0.9;
    cursor: pointer;
}
.google-search-box i.bx-microphone,
.google-search-box i.bx-image,
.google-search-box i.bx-search{
    font-size: 20px;
    line-height: 0.9;
}

.slsGlo{
    width: 100%;
    max-width: 950px;
    margin: 2rem auto;
    padding: 0 20px;
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: auto 300px;
    gap: 1rem;
}
.glArticle{
    display: block;
    margin-bottom: 2.5rem;
}
.glhead{
    display: flex;
    gap: 8px;
    align-items: center;
    text-decoration: none;
}
.glLeft .glWeb{
    width: 30px;
    height: 30px;
    object-position: center;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.glBname{
    font-size: 15px;
    font-weight: 400;
    color: #222;
}
.glMeta{
    display: flex;
    align-items: center;
    gap: 4px;
    color: #222;
    font-size: 11px;
    font-weight: 300;
}
.glBody{
    display: block;
}
.glUri{
    color: #1a5ec9;
    text-decoration: none;
}
.glTi{
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
}
p.slsexcerpt{
    color: #3b3b3b;
    font-size: 13px;
    line-height: 1.4;
    font-weight: 400;
}
p.slsexcerpt .more-link{
    display: none;
}

.moreLoop{
    text-align: center;
    position: relative;
    width: 100%;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    margin: 4rem 0;
}
.moreLoop span{
    background-color: #d4d4d4;
    padding: 5px 50px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 300;
    margin: -13px auto 0 auto;
    cursor: pointer;
    width: max-content;
    display: block;
}

.glFo{
    text-align: center;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 3rem 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.arara{
    color: #222;
}
.arara .glfolink{
    color: #1a5ec9;
    text-decoration: none;
    font-weight: 400;
}

@media(max-width:780px){
    .gInner{
        display: block;
        position: relative;
    }
    .gInner_left{
        display: block;
    }
    .slsHomes .logoGoogle{
        height: 25px;
        margin-bottom: 1rem;
    }
    .gInner_right .slsPeople{
        position: absolute;
        top: 0px;
        right: 0px;
    }
    .gInner_left form.google-search-box{
        width: 100% !important;
    }
    .slsGlo{
        display: block;
    }
}

@media(max-width:560px){
    .slsHomes .logoGoogle{
        height: 20px;
    }
    .google-search-box input{
        padding: 10px 20px;
        border-radius: 22px;
        width: 50%;
    }
    .google-search-box i.bx-x{
        margin-left: auto;
    }
    .google-search-box i.bx-search{
        margin-right: 10px;
    }
    .glhead{
        display: flex;
        gap: 8px;
        align-items: center;
        text-decoration: none;
    }
    .glLeft .glWeb{
        width: 30px;
        height: 30px;
        object-position: center;
        object-fit: cover;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
    .glBname{
        font-size: 15px;
        font-weight: 400;
        color: #222;
    }
    .glMeta{
        display: flex;
        align-items: center;
        gap: 4px;
        color: #222;
        font-size: 11px;
        font-weight: 300;
    }
    .glBody{
        display: block;
    }
    .glUri{
        color: #1a5ec9;
        text-decoration: none;
    }
    .glTi{
        font-weight: 400;
        font-size: 20px;
        line-height: 1.4;
    }
    p.slsexcerpt{
        color: #3b3b3b;
        font-size: 13px;
        line-height: 1.4;
        font-weight: 400;
    }
    p.slsexcerpt .more-link{
        display: none;
    }
    
    .moreLoop{
        text-align: center;
        position: relative;
        width: 100%;
        border-top: 2px solid rgba(0, 0, 0, 0.1);
        margin: 4rem 0;
    }
    .moreLoop span{
        background-color: #d4d4d4;
        padding: 5px 50px;
        border-radius: 30px;
        font-size: 14px;
        font-weight: 300;
        margin: -13px auto 0 auto;
        cursor: pointer;
        width: max-content;
        display: block;
    }
    
    .glFo{
        text-align: center;
        width: 100%;
        background-color: #fff;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        padding: 3rem 0;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
    }
    .arara{
        color: #222;
    }
    .arara .glfolink{
        color: #1a5ec9;
        text-decoration: none;
        font-weight: 400;
    }
}