.slsSingle{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: auto 300px;
    gap: 2rem;
}
.singleContent,
.slsArticle{
    display: block;
}
.assetTop{
    margin-bottom: 2rem;
}
.catSpan .slsCatlink{
    font-family: 'Oswald Regular';
    text-decoration: none;
    color: white;
    background-color: var(--article-link);
    display: inline-block;
    padding: 8px 10px;
    font-weight: 11px;
    transition: 0.3s ease-in-out;
    margin-bottom: 1.5rem;
}
.catSpan .slsCatlink:hover{
    background-color: var(--post-judul);
}
.slsHeading{
    font-family: 'Anton Regular';
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 1px;
    color: var(--article-heading);
    margin-bottom: 15px;
}
.authorMeta{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 1rem;
}
.authorMeta .slsAuth_img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-position: center;
    object-fit: cover;
}
.bodyMeta{
    display: flex;
    flex-direction: column;
    font-family: 'Oswald Regular';
    gap: 8px;
}
.slsUthUri{
    color: var(--article-text);
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
.slsUthUri .slsAuthName{
    color: var(--article-link);
}
.bodyMeta .dates{
    color: var(--article-text);
    font-size: 14px;
}
.sls_single-thumbnail{
    width: 100%;
    height: 100%;
}

.slsContent{
    margin-bottom: 2rem;
}
.slsContent p,
.slsContent ul,
.slsContent ol{
    line-height: 2;
    margin-bottom: 25px;
    font-size: 18px;
    color: var(--article-text);
    word-break: break-all;
}
.slsContent blockquote{
    margin-bottom: 25px;
    font-size: 18px;
    font-style: italic;
    color: var(--article-heading);
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.slsContent p a,
.slsContent ul a,
.slsContent ol a,
.slsContent blockquote a{
    color: var(--article-link);
    text-decoration: none;
}
.slsContent p a:hover,
.slsContent ul a:hover,
.slsContent ol a:hover,
.slsContent blockquote a:hover{
    color: var(--article-hover);
}
.slsContent ul{
    list-style: square;
    margin-left: 20px;
}
.slsContent ol{
    list-style: decimal;
    margin-left: 20px;
}
.slsContent p img,
.slsContent p a img,
.slsContent * img{
    width: 100%;
    height: 100%;
    margin-bottom: -10px;
}
.slsContent h1,
.slsContent h2,
.slsContent h3,
.slsContent h4,
.slsContent h5,
.slsContent h6{
    font-family: 'Oswald Regular';
    color: var(--article-heading);
    margin-bottom: 15px;
    line-height: 1.5;
    letter-spacing: 1px;
    transition: 0.3s ease-in-out;
}
.slsContent h1 a,
.slsContent h2 a,
.slsContent h3 a,
.slsContent h4 a,
.slsContent h5 a,
.slsContent h6 a{
    text-decoration: none;
    color: var(--article-link);
}
.slsContent h1 a:hover,
.slsContent h2 a:hover,
.slsContent h3 a:hover,
.slsContent h4 a:hover,
.slsContent h5 a:hover,
.slsContent h6 a:hover{
    color: var(--article-hover);
}

/* Tag */
.slsTags{
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    font-family: 'Oswald Regular';
    font-size: 16px;
}
.slsSpanTag{
    background-color: var(--header-link);
    color: white;
    padding: 5px 10px;
    height: max-content;
}
.tagInner{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.tagInner .slsTag{
    background-color: var(--article-link);
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 14px;
    letter-spacing: 0.5px;
    border-radius: 3px;
}

/* Next and previous single post */
.slsSingleNav{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.slsSingleNavPrev a,
.slsSingleNavNext a{
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: var(--article-link);
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}
.slsSingleNavPrev a:hover,
.slsSingleNavNext a:hover{
    color: var(--article-hover);
}
.slsSingleNavNext a{
    text-align: right;
}
.slsSingleNavLabel{
    color: var(--article-heading);
}

/* Realted posts */
.slsRels{
    margin-top: 2rem;
    display: block;
    font-family: 'Oswald Regular';
}
.spanRel{
    border-bottom: 2px solid var(--header-link);
    padding-bottom: 5px;
    font-size: 16px;
}
.relT{
    background-color: var(--header-link);
    color: white;
    padding: 5px 10px;
}
.slsInner_rels{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.inner_rel{
    display: block;
}
.relTHumUri img{
    width: 100%;
    height: 150px;
    object-position: center;
    object-fit: cover;
    margin-bottom: 10px;
}
.relBody{
    text-align: center;
}
.relBody .metaDate{
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
}
.relTitle{
    text-decoration: none;
}
.relTitle .relH3{
    color: var(--article-heading);
    line-height: 1.4;
    transition: 0.3s ease-in-out;
}
.relTitle .relH3:hover{
    color: var(--article-hover);
}


@media(max-width:951px){
    .slsSingle{
        grid-template-columns: auto 250px;
    }
}


@media(max-width:768px){
    .slsSingle{
        display: block;
    }
}


@media(max-width:568px){
    .slsHeading{
        font-size: 27px;
    }
    .sls_single-thumbnail,
    .slsContent p a img,
    .slsContent p img,
    .slsContent * img{
        width: calc(100% + 40px);
        margin-left: -20px;
    }
    .slsContent p,
    .slsContent ul,
    .slsContent ol{
        font-size: 16px;
    }

    /* Next and prev */
    .slsSingleNav{
        display: block;
    }
    .slsSingleNavPrev a,
    .slsSingleNavNext a{
        margin-bottom: 2rem;
    }

    /* Related Posts */
    .slsInner_rels{
        display: block;
    }
    .inner_rel{
        margin-bottom: 2rem;
    }
    .relTHumUri img{
        height: 180px;
    }
}