@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.sls_container{
    font-family: 'Poppins', sans-serif;
    width: calc(100% - 80px);
    background-color: #fff;
    box-sizing: border-box;
    padding: 2rem 4rem;
    margin: 1rem auto;
    border-radius: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.sls_heading{
    margin-bottom: 2rem;
    color: #333;
    font-weight: 800;
}
.sls_setting-info{
    margin-bottom: 2rem;
}
.sls_form input[type="text"],
.sls_form input[type="url"],
.sls_form input[type="email"],
.sls_form input[type="tel"]{
    width: 100%;
    max-width: 400px;
}
.sls_form textarea{
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    padding: 10px;
}
.sls_form .slsSection{
    margin-bottom: 1.5rem;
    color: #333;
    font-weight: 800;
}